.notification {
    font-weight: bold;
    font-size: 20px;
    border: solid 1px gray;
    border-radius: 8px;
    position: absolute;
    top: 16px;
    right: 70px;
    padding: 20px;
  }

  .notification.success {
    background-color: rgb(75, 212, 75);
  }

  .notification.error {
    background-color: rgb(221, 74, 74);
  }