body {
    background-color: rgb(186, 240, 222);
    width: 90%;
    margin: 0 auto;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(16, 160, 112)
}

.form__element {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    max-width: 320px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(16, 160, 112);
    width: 400px;
}

input {
    display: block;
    margin-top: 5px;
    padding: 10px 5px 10px 5px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid rgb(16, 160, 112);
    color: rgb(16, 160, 112);
}

textarea {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    padding: 10px 5px 10px 5px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid rgb(16, 160, 112);
    color: rgb(16, 160, 112);
}

button {
    margin-top: 30px;
    padding: 10px 5px 10px 5px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid rgb(16, 160, 112);
    background-color: rgb(16, 160, 112);;
    color: rgb(186, 240, 222);
}